html, body{ 
    margin:0; 
    padding:0; 
    text-align:center; 
    line-height: 1.3em;
    background-color:#333;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    color: #333;
} 

#container{ 
    width:800px; 
    text-align:left;  
    margin-left:auto; 
    margin-right:auto;  
    background-color:#FFFFFF;
} 

.twoColContainer{
    position:relative;
    clear:both;
    float:left;
    width:100%;
    overflow:hidden;
    background-color:#FFFFFF;
}

.leftcol{ 
    width:160px;
    margin-left:10px;
    margin-right:10px;
    float:left;
    font-size: small;
}

.rightcol{
    float: right;
    width:570px;
    margin-left:10px;
    margin-right:40px;
    font-size: small;
}






#topbar{
    margin-top:10px;
    background-color:#586998;
    position:relative; 
    height:20px; 
} 

#header{
    margin-top:20px;
    height:135px;    
}

#toppic{
    float: left;
    width:180px;
    text-align:center;
/*    background-color:orange; */
}
#headshot{
    border:1px solid #dedede;
    padding:10px;
}

#title{
    float: left;
    width:420px;
}

#contact{
    float:right;
    width:200px;
    padding-top:30px;
    margin-bottom:20px;
    font-size:small;
}

h1 {
    font-family: 'Cantarell', Arial, serif;
    margin:0;
    margin-top:5px;
    margin-bottom:20px;
    font-size: 30px;
}

h2 {
    margin:0;
    margin-left:5px;
    padding:0;
    font-size:small;
}

h3{ 
    font-family: 'Cantarell', Arial, serif;
    margin-left:1em;
    font-size: large;
}

p {
    font-size:small;
}

li { 
    margin-top:0.5em; 
} 
ul{
    list-style-type:square;
    margin-left:0;
    padding-left:1em;
}

#sub{ 
    line-height:1.1em;
}

.smaller{
    font-size:x-small;
}

.pubdetails{
    font-size:x-small;
}

.pub a:link{
     color: #333;
}
.pub a:visited{
     color: #333;
}


a{
 color:#586998;
}
